::placeholder {
    color: #787878;
}

*:focus {
    outline: none;
}

body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button,
input[type="color"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"] {
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding: 7.5px;
    background-color: #000000;
    transition: ease-in-out 0.25s;
    color: #ffffff;
}

button:hover,
input[type="color"]:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="phone"]:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: black;
}

button:focus,
input[type="color"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus {
    background-color: #ffffff;
    color: #000000;
    border-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding-left: 10px;
}

p {
    padding: 10px;
    margin: 0px;
}

nav {
    position: absolute;
    top: 0px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    min-height: 15vh;
    width: 100%;
}

a, a:hover, a:active, a::after {
    color: #0579ec;
}